.rokt-layout-offer-layout-1 .rokt-subtitle {
  display: block;
  font-size: 14px;
  line-height: 1.3;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  white-space: pre-line;
}