.rokt-layout-offer-layout-1 .rokt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #999;
  color: white;
  font-weight: bold;
  line-height: 1;
  font-size: 16px;

  &:after {
    content: 'x';
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 22px;
  }
}