.rokt-component-input {
  display: block;
  font-size: 16px;
  line-height: 1.15;
  margin: 0px;
  box-shadow: none;
  width: 100%;
  border: 1px solid ;
  border-style: solid rgb(114, 117, 120);
  padding: 0.5rem 0.85rem;
  margin-bottom: 8px;
}